@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Margarine&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* p {
    margin-bottom: 1.75rem;
    font-family: var(--ff-primary);
    line-height: 1.5;
    color: var(--clr-grey);
} */

.divider {
  background-color: white;
  height: 40px;
}

/* --------------- Start Nav Bar and Logo---------------------- */

nav {
  background-color: var(--clr-background);
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo-title img {
  height: 80px;
  /* adjust size based on logo */
  width: auto;
  font-weight: bolder;
}

.business-name {
  margin-left: 12px;
  font-size: 28px;
  font-weight: bolder;
  color: var(--clr-brand);
}

nav li {
  display: inline-block;
  /* to display list item in same line */
  /* margin: 5px 5px; */
  /* Margin left and right ku matu 8px */
  /* font-weight: bolder; */
}

nav a:hover {
  color: var(--clr-shadow);
}

/* nav a {
  text-decoration: none;
} */

/* --------------- Start Image Slider---------------------- */
.container {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("Photo/one.jpg") center/cover fixed no-repeat;
  width: 100%;
  height: 650px;
  background-size: cover;
  background-position: center -200px;
  /* pushes image up 200px, hides top */
  overflow: hidden;
  transition: background 3s ease-in-out;
}

.btn-left {
  position: absolute;
  /* help to move icon */
  top: 50%;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.4em 0.6em;
  border-radius: 2em;
  /*arrow outer box radius*/
  transform: translateY(calc(-50%));
  /* antha arrow ah crt ah center pana antha element la irunthu 50% kudukarom */
  cursor: pointer;
}

.btn-right {
  position: absolute;
  /* help to move icon */
  top: 50%;
  right: 5%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.4em 0.6em;
  border-radius: 2em;
  /*arrow outer box radius*/
  transform: translateY(calc(-50%));
  /* antha arrow ah crt ah center pana antha element la irunthu 50% kudukarom */
  cursor: pointer;
}

.btn-left:hover,
.btn-right:hover {
  color: #05bfdb;
  background-color: #604652;
}

/* ------------------Text upon image slider-------------------------------- */
.quote-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* color: white; */
  text-align: center;
  padding: 1rem 2rem;
  /* background-color: rgba(0, 0, 0, 0.4); */
  border-radius: 10px;
  max-width: 80%;
}

.quote-text {
  font-size: 20px;
  /* font-weight: bold; */
  margin: 0;
  color: #fff;
  font-style: italic;
  font-family: var(--ff-bold);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  /* animation: fadeIn 0.5s ease-in-out; */
}

/* ------------------Company in Brief-------------------------------- */

.about-pic-container {
  width: 40vw;
  height: auto;
  border-radius: 15px;
  overflow: hidden;
  margin-left: 4rem;
}

.about-pic {
  width: 100%;
  display: block;
}

.about-img,
.about-info {
  padding: 0.5rem 0;
}

.about-body {
  max-width: 40rem;
  color: var(--clr-black);
  line-height: 25px;
  letter-spacing: 0.5px;
  /* font-weight: bold; */
}

.about-pic-container:hover .about-pic {
  transform: scale(1.2);
  opacity: 0.5;
}

@media screen and (min-width: 992px) {
  .about-img,
  .about-info {
    float: left;
    width: 50%;
  }

  .about-info {
    padding-left: 2rem;
  }
}

.about::after {
  content: "";
  display: table;
  clear: both;
}

.section-title h3 {
  font-family: var(--ff-head);
  color: var(--clr-navy);
  font-size: 2rem;
}

.section-title h2 {
  text-shadow: 2px 5px 5px var(--clr-skyblue);
}

.section-title {
  margin-bottom: 2rem;
}

/* ------------------Why Choose Us-------------------------------- */
.container-choose {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.choose-us {
  width: 100%;
  height: auto;
  display: block;
}

/* White-ish overlay over image */
.container-choose::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  z-index: 1;
}

.full-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 equal columns */
  grid-template-rows: auto auto auto;
  gap: 1rem;
  /* spacing between grid items */
  padding: 2rem;
  z-index: 2;
}

.row-one {
  grid-column: span 3;
}

.choose-title h3 {
  font-family: var(--ff-head);
  color: var(--clr-navy);
  font-size: 2rem;
  text-align: center;
}

.choose-title h1 {
  text-align: center;
  margin-top: 0.5rem;
}

.row-two {
  padding: 0.5rem;
  text-align: left;
  margin-top: 2rem;
}

.row-two h2 {
  margin-bottom: 1rem;
}

.choose-button button {
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1.5rem;
  width: 100%;
}

.right-image {
  width: 800px;
  height: 900px;
  border-radius: 10px;
  margin-top: -9rem;
}

/* ------------------How we Work-------------------------------- */
.process-section {
  text-align: center;
  margin: auto;
  background: linear-gradient(0deg, white, var(--clr-lblue2), white);
}

.work-title h3 {
  margin-top: 3rem;
  font-family: var(--ff-head);
  color: var(--clr-navy);
  text-align: center;
  font-size: 2rem;
}

.work-title h1 {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 2rem;
}

.description {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.process-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  position: relative;
}

.step {
  flex: 1 1 22%;
  position: relative;
  /* z-index: 1; */
}

.circle {
  position: relative;
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px, solid var(--clr-lblue3);
}

.circle span {
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: var(--clr-navy);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  padding: 0.3rem 0.6rem;
}

.circle img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.step h2 {
  margin: 1rem 0 0.5rem;
  font-size: 1.1rem;
  /* color: #111; */
}

.step p {
  color: var(--clr-grey);
}

/* ------------------Contact-------------------------------- */
.footer {
  background-color: var(--clr-ablue1);
  color: white;
  padding: 3rem 2rem 1rem;
  font-family: var(--ff-head);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1 1 300px;
}

.footer-section h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
}

.footer-section h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #8bc53f;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.footer-section p {
  line-height: 1.6;
  margin: 0.5rem 0;
}

.footer-section i {
  color: #8bc53f;
  margin-right: 10px;
}

.social-icons i {
  display: inline-block;
  background: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
}

.social-icons i:hover {
  background: #76aa35;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  border-top: 1px solid #333;
  padding-top: 1rem;
  font-size: 0.95rem;
}

.footer-bottom span {
  color: #8bc53f;
}

#map-container iframe {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
